.class {
    background-color: #FFD31A;
    padding: 40px;
    h2, h3, h4, span, p {
        font-family: rebond grotesque;
        color: black;
    }
    h2{
        font-family: rebond grotesque negrito;
        font-size: 2em;
    }
   .class__title {
    text-align: center;
    line-height: 5px;
   }
    .class__content {
        margin: 30px 0;
        .class__content--block {
            display: grid;
            justify-content: center;
            img {
                margin-bottom: 15px;
            }
        }
        .swiper-cursos {
            overflow: hidden;
        }
        span {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 768px ) {
    .class {
        h2 {
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 450px ) {
    .class {
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 0.9em;
        }
    }
}