@font-face {
    font-family:rebond grotesque;
    src:url('../../src/fonts/Rebond/Rebond Grotesque.otf') format("opentype");
}

@font-face {
    font-family:rebond grotesque negrito;
    src:url('../../src/fonts/Rebond/Rebond Grotesque Bold.otf') format("opentype");
}

@font-face {
    font-family:plakat;
    src:url('../../src/fonts/Plakat/PlakatGrotesk-Bold.ttf') format("truetype");
}
