@import 'avariables';

footer {
	position: relative;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.copy {
		color: white;
		font-size: 0.8em;
		font-family: rebond grotesque;
		a {
			color: white;
			font-family: rebond grotesque;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.wrapper-footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		width: 100%;
    	padding: 0 10px;
		align-items: center;
	}
	.footer-contact {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 5px 0;
		a {
			font-family: rebond grotesque;
			color: white;
			text-decoration: none;
		}
		svg {
			vertical-align: middle;
		}
	}
}

@media screen and (max-width: 1185px) {


}

@media screen and (max-width: 768px) {
	footer {
		.wrapper-footer {
			grid-template-columns: 1fr;
			text-align: center;
			gap: 10px;
			font-size: 0.8em;
		}
	}

}

@media screen and (max-width: 520px) {

}