.location{
    margin: 20px 0;
    .location__txt {
        text-align: center;
        h2 {
            font-family: rebond grotesque negrito;
            font-size: 2em;
        }
        p {
            font-family: rebond grotesque;
            color: black;
        }
    }
}